{% extends 'fingerprintData/access_template.html' %}

{% block title %}Access Page{% endblock title %}

{% block activetitle %}Login{% endblock activetitle %}

{% block navlinks %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'fingerprintData:register' %}">
            <i class="fas fa-fw fa-folder"></i>
            <span> Register </span>
        </a>
    </li>
{% endblock navlinks %}


{% block content %}
    {% load static %}

    <div class="card call-sm-6">
            <img class="card-img-top" src="{% static 'vendor/img/finger.png' %}">
    </div>

    <div class="card">
        <div class="card-body" id="message-ajax">
            PlaceHolder for where should appear ajax call
        </div>
    </div>

    <div class="container">
        <div class="row justify-content-between">
            <button type="button" class="btn btn-secondary" id="retry">Try</button>
            <button type="button" id="abort" class="btn btn-danger">Abort</button>
        </div>
    </div>

{% endblock content %}

{% block extrajs %}
    <script src="{% static 'js/demo/fingerprint_access.js' %}"></script>

{% endblock extrajs %}