{% extends 'fingerprintData/main_template.html' %}

{% block title %}{% endblock title %}
{% block navtitle %}{% endblock navtitle %}

{% block content %}
{%  load static %}

    <div>
        """PLACEHOLDER add a form to select Customer, Date, Product-s, Product-Type. Also add a button that triggers the chart. PLACEHOLDER"""
    </div>

    <div>

    """PLACEHOLDER add Jquery calls and Charts.js functions to render the chart. PLACEHOLDER"""

    <canvas id="graph"></canvas>

    </div>

{% endblock content %}

{% block extrajs %}

{% endblock %}