{% extends 'fingerprintData/page_template.html' %}


{% block title %}{% endblock title %}
{% block navtitle %}{% endblock navtitle %}
{% block activetitle %}Purchase{% endblock activetitle %}
{% block navlinks %}

    <li class="nav-item active">
        <a class="nav-link " href="javascript:void(0)" id="products-nav">
            <i class="fas fa-fw fa-folder"></i>
            <span> Products </span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)" id="cart-nav">
            <i class="fas fa-fw fa-folder"></i>
            <span> Your cart </span>
        </a>
    </li>
{% endblock navlinks %}


{% block topbar %}

    <input type="hidden" id="myVar" name="variable" value="{{ customer.customer_email }}">

    <ul class="navbar-nav ml-auto">

        <li class="nav-item dropdown arrow ">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-lg-inline text-gray-600 small">Welcome, {{ customer.customer_name }}</span>
            </a>
            <!-- Dropdown - User Information -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                 aria-labelledby="userDropdown">
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                    Logout
                </a>
            </div>
        </li>

    </ul>
{% endblock topbar %}

{% block content %}
    {% load static %}

    {% block extracss %}
        <link href="{% static 'css/purchase.css' %}" rel="stylesheet" type="text/css">
    {% endblock %}


    {% if types %}
        <div class="container mx-0" id="purchase-panel">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item border-left-danger rounded">
                    <a class="nav-link active " id="home-tab" data-toggle="tab" href="#home" role="tab"
                       aria-controls="home"
                       aria-selected="true">Home</a>

                </li>

                {% for type in types %}
                    <li class="nav-item border-left-success rounded">
                        <a class="nav-link"
                           id="{{ type }}-tab"
                           data-toggle="tab"
                           href="#{{ type }}"
                           role="tab"
                           aria-controls="{{ type }}"
                           aria-selected="false">{{ type }}
                        </a>
                    </li>
                {% endfor %}
            </ul>

            <div class="tab-content" id="myTabContent">

                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="jumbotron text-center m-5">
                        <h1>Hello There!</h1>
                        <p>Here you can choose whatever please your choices and buy it!</p>
                        <p>Just select the amount you want, be
                            sure the green icon is besides the quantity and then go to checkout!</p>
                    </div>

                </div>
                {% for type in types %}
                    <div class="tab-pane fade" id="{{ type }}" role="tabpanel" aria-labelledby="{{ type }}-tab">
                        <div class="row justify-content-center">
                            {% if products %}
                                {% for product in products %}
                                    {% if type == product.product_type %}
                                        <div class="col-md-3  border p-1 m-1 rounded border-4">
                                            <div class="card">
                                                <img class="card-img-top" src="{{ product.product_image.url }}">
                                                <div class="card-block">
                                                    <h4 class="card-title">{{ product.product_name }}</h4>
                                                    <div class="card-text">
                                                        {{ product.product_description }}
                                                    </div>
                                                </div>
                                                <div class="card-footer">
                                                    <div class="row align-content-center">
                                                        <div class=" col-md-2 float-sm-left">
                                                            <img class="check-image mx-1" alt="Check"
                                                                 src="{% static 'vendor/img/check.jpg' %}">
                                                        </div>
                                                        <div class="col-md-4">
                                                            <input class="form-control" type="text" value="0">
                                                        </div>

                                                        <div class=" col-md-6 text-center my-auto">
                                                            {{ product.product_price }} €
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>

            <hr class="sidebar-divider my-1">

            <div class="row justify-content-center text-center">
                <button id="checkout-btn" class="btn btn-primary"> Go to Checkout</button>
                <button id="empty-cart" class="btn btn-danger"> Empty your cart</button>
            </div>


        </div>

        <div class="container d-none border rounded shadow border-left-success" id="checkout-panel">
            <div class="row">
                <div class="col-md-12" id="checkout-table">
                    <ul class="list-group my-3" id="checkout-table-ul">

                    </ul>
                </div>
            </div>

            <hr class="sidebar-divider my-4">

            <div class="row text-center justify-content-center">
                <div class="col-sm-4 text-center">
                    <button class="btn-lg btn-primary"
                            id="pay-button"
                            data-toggle="modal"
                            data-target="#checkout-modal">Proceed to payment
                    </button>
                </div>
                <div class="col-sm-4 text-center">
                    <button class="btn-lg btn-danger" id="checkout-empty-cart">Empty your cart</button>
                </div>
            </div>

            <hr class="sidebar-divider my-4">
        </div>

        <div class="modal fade" id="checkout-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel1">Checkout</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>
                            Are you sure you wish to buy these products?
                        </p>
                        <div id="modal-checkout-msg-div" class="d-none">
                            <ul>
                                <li class="text-danger" id="modal-checkout-msg"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="container">
                            <div class="row justify-content-between" id="modal-buttons">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">No, return to
                                    checkout.
                                </button>
                                <button type="button" id="checkout-modal-yes-btn" class="btn btn-danger">Yes, I'm sure
                                </button>
                            </div>

                            <div class="row justify-content-center d-none" id="fingerprint-modal">
                                <div class="col-sm-12 shadow">
                                    <div class="card call-sm-12">
                                        <img class="card-img-top" src="{% static 'vendor/img/finger.png' %}">
                                    </div>

                                    <div class="card">
                                        <div class="card-body">
                                            <ul>
                                                <li id="message-modal"></li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="container">
                                        <div class="row justify-content-between">
                                            <button type="button"
                                                    id="abort-btn"
                                                    class="btn btn-danger"
                                                    data-dismiss="modal">Abort
                                            </button>
                                            <button type="button" id="retry-btn" class="btn btn-primary">Try</button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% endif %}
{% endblock content %}

{% block extrajs %}
    <script src="{% static 'js/demo/purchase.js' %}"></script>
    <script>
        $(document).ready(function () {
            var csrftoken = '{% csrf_token %}';
            $('#retry-btn').click(function (e) {
                e.preventDefault();
                $.ajax({
                    headers: {
                        "X-CSRFToken": csrftoken,
                    },
                    crossDomain: true,
                    url: 'http://192.168.1.42/match',
                    dataType: 'json',
                    type: 'GET',
                    success: function (result) {
                        console.log(result);
                        if (!result['response']) {
                            $('#retry-btn').text("Retry");
                            $('#message-modal').text(result['msg']);
                        } else {
                            var found = false;
                            $.ajax({
                                headers: {"X-CSRFToken": csrftoken},
                                url: 'get_customer_id/',
                                dataType: 'json',
                                data: {
                                    "customer_email": $("#myVar").val(),
                                },
                                type: 'GET',
                                success: function (answer) {
                                    console.log(answer);
                                    if (answer['success'] && answer['id'] == result['id']) {

                                        var array = $(".selected");
                                        var name = [];
                                        var quantity = [];
                                        array.each(function (index, value) {

                                            name.push($(this).children("div.card")
                                                .children("div.card-block")
                                                .children("h4.card-title").text().toString());
                                            quantity.push(parseInt($(this).children("div.card")
                                                .children("div.card-footer")
                                                .children("div.row.align-content-center")
                                                .children("div.col-md-4")
                                                .children("input.form-control").val().toString()));

                                        });
                                        console.log(name);
                                        console.log(quantity);

                                        var lenght = array.length;
                                        $.ajax({
                                            headers: {"X-CSRFToken": csrftoken},
                                            url: 'checkout/',
                                            dataType: 'json',
                                            data: {
                                                "json": JSON.stringify({
                                                    'name': name,
                                                    'quantity': quantity,
                                                    'lenght': lenght
                                                }), "csrfmiddlewaretoken": "{{ csrf_token }}"
                                            },
                                            type: 'POST',
                                            success: function (result) {
                                                console.log(result);
                                                if (result['success']) {
                                                    console.log(result['msg']);
                                                    window.location = window.location.pathname + 'purchase_success/';
                                                }
                                            }
                                        });

                                    } else if (!answer['success']) {
                                        $('#message-modal').text("Your email is invalid, please return to login.");
                                    } else {
                                        $('#retry-btn').text("Retry");
                                        $('#message-modal').text("Your fingerprint is registered, but " +
                                            "it doesn't match the user's.");
                                    }
                                }
                            });
                        }
                    },
                    error: function (err) {
                        $('#retry-btn').text("Retry");
                        $('#message-modal').text("Error! Sensor not found!");
                    },
                    timeout: 100000,
                });


            });
        });
    </script>
{% endblock %}