{% extends 'fingerprintData/page_template.html' %}

{% block title %}Success!{% endblock title %}
{% block activetitle %}Success!{% endblock activetitle %}
{% block navlinks %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'fingerprintData:purchase' customer_email=customer.customer_email %}">
            <i class="fas fa-fw fa-folder"></i>
            <span>Back to products</span>
        </a>
    </li>
{% endblock navlinks %}


{% block topbar %}

    <input type="hidden" id="myVar" name="variable" value="{{ customer.customer_email }}">

    <ul class="navbar-nav ml-auto">

        <li class="nav-item dropdown arrow ">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-lg-inline text-gray-600">Welcome, {{ customer.customer_name }}</span>
            </a>
            <!-- Dropdown - User Information -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                 aria-labelledby="userDropdown">
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                    Logout
                </a>
            </div>
        </li>

    </ul>
{% endblock topbar %}


{% block content %}
    {% load static %}

    {% block extracss %}
        <link href="{% static 'css/success.css' %}" rel="stylesheet" type="text/css">
    {% endblock %}

    <div class="jumbotron text-center border rounded border-success">
        <h1>Evil and Mean Marketplace</h1>
    </div>

    <div class="container border-left-success shadow rounded py-2" id="success-div">
        <div class="col-sm-12 my-2 text-center ">
            <ul class="list-group rounded border border-success shadow">
                <li class="list-group-item ">
                    <h3> Success! Your order is on its way to you!</h3>
                </li>
            </ul>
        </div>

        <hr class="sidebar-divider my-4">
        <div class="col-sm-12 text-center mx-auto">
            <img class="success" src="{% static 'vendor/img/success.png' %}" alt="Oh Yeah! Success!">
        </div>


        <hr class="sidebar-divider my-4">

        <div class="col-sm-12 text-center">
            <a href="{% url 'fingerprintData:purchase' customer_email=customer.customer_email %}" class="text-white">
                <button class="btn-lg btn-primary" id="continue-btn">Back to products!</button>
            </a>
        </div>
    </div>

{% endblock content %}

{% block extrajs %}

{% endblock extrajs %}