{% extends 'fingerprintData/access_template.html' %}

{% block title %}Register{% endblock title %}
{% block activetitle %}Register{% endblock activetitle %}
{% block navlinks %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'fingerprintData:access' %}">
            <i class="fas fa-fw fa-folder"></i>
            <span> Login</span>
        </a>
    </li>
{% endblock navlinks %}

{% block content %}
    {% load static %}

    <div class="jumbotron text-center ">
        <h1>Evil and Mean Marketplace</h1>
        <p>Register now to get the exclusive radioactive Schrödinger's cat as a bonus!</p>
        <p>Here you can fill the spaces and register!</p>
    </div>

    <div class="container">
        <div class="col-sm-6">
            <ul>
                <li>
                    <h1> Success! You may continue.</h1>
                </li>
            </ul>
        </div>
        <div class="col-sm-6 justify-content-end">
            <a href="{% url 'fingerprintData:access' %}" class="text-white"><button class="btn btn-primary" id="continue-btn">Continue</button></a>
        </div>
    </div>






{% endblock content %}

{% block extrajs %}

{% endblock extrajs %}