{% extends 'fingerprintData/access_template.html' %}

{% block title %}Absolutely Not Maccaroni Register Page{% endblock title %}

{% block activetitle %}Register{% endblock activetitle %}

{% block hrefoff %}<a class="nav-link" href="{% url 'fingerprintData:access' %}">{% endblock hrefoff %}


{% block offtitle %}Login{% endblock offtitle %}

{% block content %}
    {% load static %}

    <div class="jumbotron text-center">
        <h1>Evil and Mean Marketplace</h1>
        <p>Register now to get the exclusive radioactive Schrödinger's cat as a bonus!</p>
        <p>Here you can fill the spaces and register!</p>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-12 shadow">
                <div class="text-center">
                    <h3>Register Here!</h3>
                </div>

                {% load widget_tweaks %}
                <form method="post" id="customer-register-form" novalidate>
                    {% csrf_token %}

                    {% if form.non_field_errors %}
                        <div class="alert alert-danger" role="alert">
                            {% for error in form.non_field_errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}

                    {% for field in form.visible_fields %}
                        <div class="form-group">
                            {{ field.label_tag }}

                            {% if form.is_bound %}
                                {% if field.errors %}
                                    {% render_field field class="form-control is-invalid" %}
                                    {% for error in field.errors %}
                                        <div class="invalid-feedback">
                                            {{ error }}
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    {% render_field field class="form-control is-valid" %}
                                {% endif %}
                            {% else %}
                                {% render_field field class="form-control" %}
                            {% endif %}

                            {% if field.help_text %}
                                <small class="form-text text-muted">{{ field.help_text }}</small>
                            {% endif %}
                        </div>
                    {% endfor %}

                    <button type="submit" class="btn btn-primary">Submit</button>

                </form>
            </div>
        </div>
    </div>


{% endblock content %}

{% block extrajs %}
    <script src="{% static 'js/demo/register.js' %}"></script>
{% endblock extrajs %}